/*初始化  reset*/

body,
button,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
td,
ul {
	margin: 0;
	padding: 0
}

body,
button,
input {
	font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
	font-size: 100%
}

ol,
ul {
	list-style: none
}

a {
	text-decoration: none
}

/*a:hover {
	text-decoration: underline
}*/

fieldset,
img {
	border: 0;
	vertical-align: top;
}

a,
button {
	cursor: pointer;
}


/*清除浮动*/

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
	/*IE/7/6*/
}


/*indexCSS*/


/*index头部样式*/

.header-top {
	width: 100%;
	height: 0.9rem;
	background-color: white;
}

.header-top {	
	height: 0.9rem;
	margin: 0 auto;
	overflow: hidden;
}

.header-top>img{
	display: block;
	float: left;
	height: 0.4rem;
	margin-top:0.25rem;
}

.header-top a img{
	height: 0.9rem;
	display: block;
	float: left;
}

.header-top .postion01 {
	display: block;
	float: left;
	background: url(../img/position-1.png) no-repeat ;
	background-size: 20% auto;
	height: 0.35rem;
	font-size: 0.3rem;
	color: black;
	line-height: 0.3rem;
	text-indent: 0.3rem;
	margin-top: 0.3rem;
	margin-left: 0.1rem;
}

.header-top .banner-right-icon{
	float: right;
	width: 0.9rem;
	height: 0.9rem;
}

.header-top .banner-right-icon img{
	height: 0.3rem;
	margin-top: 0.3rem;
	margin-left: 0.3rem;
}



.city-list {
	width: 100%;
	background-color: rgb(245, 243, 244);
	
}

.city-list1 {
	/*width: 92%;*/
	overflow: hidden;
}

.city-list1 li {
	float: left;
	/*width: 1rem;*/
	height: 0.4rem;
	line-height: 0.4rem;
	margin-right: 0.1rem;
	padding: 0.05rem;
}

.city-list1 li a {
	color: black;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0.24rem;
}

.city-list-middle {
	width: 92%;
	margin: 0 auto;
}



/*index内容样式*/

.swiper01 {
	width: 100%;
	height: 3.4rem;
}

#swiper1{
	height: 3.4rem;
}

/*轮播01*/

#swiper1 .swiper-wrapper .swiper-slide a{
	display: block;
	width: 100%;
	height: 100%;
	background-size: auto 100% !important;
}

.swiper-pagination .swiper-pagination-bullet{
	width: 0.5rem;
	height: 0.04rem;
	background-color: rgb(255,255,255);
	opacity: 0.6;
	border: none;
	border-radius: unset;
}

.swiper-pagination .swiper-pagination-bullet-active{
	background-color: #dc214c;
}


.class {
	width: 100%;
	height: 8.3rem;
	/*margin: 0 auto;*/
	padding-top: 0.3rem;
	background-color: white;
}

.class img{
	width: 100%;
	height: 100%;
}

.class ul {	
	height: 8.22rem;
	margin: 0 auto;
	width: 92%;
	display: -webkit-flex;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.class ul li {
	width: 47.8%;
	height: 3.66rem;
	overflow: hidden;	
	position: relative;
}


.class-info {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.55rem;
	background-color: rgba(0,0,0,0.5);	
	color: white;
	font-size: 0.24rem;
	line-height: 0.55rem;
	font-weight: bold;
	text-align: center;
}





.show {
	width: 100%;
	background-color: rgb(246, 246, 246);
}

.show-head {
	margin: 0 auto;
	width: 92%;
	font-size: 0.36rem;
	color: black;
	font-weight: bold;
	overflow: hidden;
	padding-bottom: 0.3rem;
}

.show-head img{
	display: block;
	float: left;
	height: 0.66rem;
}

.show-head .tel02{
	 background:url(../img/tel-01.png) no-repeat;
	 float: right;
	 padding-left: 0.6rem;	 
	 height: 0.68rem;
}


.show table {
	margin: 0 auto;
	min-width: 92%;
}

.show table th {
	background-color: rgb(245, 214, 210);
	font-size: 0.24rem;
	color: #cb241e;
	line-height: 0.78rem;
	
}

.show table td {
	text-align: center;
	background-color: rgb(238, 238, 238);
	font-size: 0.24rem;
	line-height: 0.6rem;
	
}

.sign-up {
	width: 100%;
	height: 4rem;
	background:url(../img/bg-01.png) no-repeat rgb(246, 246, 246) center;
	background-size:auto 100%;
	overflow: hidden;
	margin-top: 0.4rem;
	
}

.sign-up-title{
	font-size: 0.3rem;
	color: white;
	margin: 0.4rem auto;
	text-align: center;
	
}

.sign-up ul{
	width: 92%;
	margin: 0 auto;
	display: flex;
	display:-webkit-flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.sign-up ul li{
	width:48.55%;
}

.sign-up input {
	width: 93%;
	height: 0.5rem;
	padding-left: 0.24rem;
	font-size: 0.24rem;
	margin-bottom: 0.3rem;
	
}

.sign-up ul li:nth-child(5){
	margin: 0.36rem auto;
}

.sign-up  .shenqing {
	padding: 0;
	margin: 0;
	background-color: rgb(203, 36, 30);
	border: none;
	color: white;
	font-size: 0.24rem;
	cursor:pointer;
	width: 100%;
	
	
}

.title01 {
	width: 100%;
	height: 1rem;
}

.title01-middle {
	margin: 0 auto;
	width: 92%;
	height: 1rem;
	display: table;
}

.title01 h2 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	line-height: 0.5rem;
	font-size: 0.3rem;
}

.banner01 {
	width: 100%;
	height: 6.1rem;
	background:url(../img/bg-02.png) no-repeat center;
	background-size: auto 100% !important;
	position: relative;
}

.banner01 div{
	position: absolute;
	color: white;
	font-size: 0.28rem;
	margin-left: 50%;
}

.banner01 .banneer-info01{
	top: 0.5rem;
	left: 14.67%;
}

.banner01 .banneer-info02{
	top: 1.45rem;
	left: 10.67%;
}

.banner01 .banneer-info03{
	top: 2.4rem;
	left: 6.67%;
}

.banner01 .banneer-info04{
	top: 3.35rem;
	left: 2.67%;
}

.banner01 .banneer-info05{
	top: 4.3rem;
	left: -2%;
}

.banner01 .banneer-info06{
	top: 5.25rem;
	left: -5.33%;
}

.swiper02 {
	width: 100%;	
	background-color: rgb(245, 243, 244);
	position: relative;
}

.swiper02-title{
	width: 100%;
	height: 1.7rem;
	display: table;
}

.swiper02-title h2{
	color: black;
	font-size: 0.3rem;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.swiper02-box{
	position: relative;
}

#swiper2{
	width: 4.25rem;
	height: 4.25rem;
	margin-bottom: 0.4rem;
	
}



#swiper2 .swiper-wrapper div{	
	/*height: 4.25rem;*/
	height: 100%;
	width: 100%;
	border-bottom-left-radius: 5%;
	border-top-right-radius: 5%;
	overflow: hidden;
	
}

#swiper2 .swiper-wrapper a{
	display: block;	
	height: 100%;	
	width: 100%;
}

#swiper2 .swiper-wrapper a img{
	display: block;	
	height: 100%;
}

.swiper02  .swiper-button-prev{
	top: 1.795rem;
	left: 0.4rem;
	margin: 0 auto;
	width: 0.2rem;
	height: 0.66rem;
	background: url(../img/left-01.png) no-repeat;
}

.swiper02  .swiper-button-next{
	top: 1.795rem;
	right: 0.4rem;
	margin: 0 auto;
	width: 0.2rem;
	height: 0.66rem;
	background: url(../img/right-01.png) no-repeat;
}


/*index底部样式*/
.footer{
	background-color: rgb(203,36,30);
	
}



.footer>a{
	display: block;
	margin: 0 auto;
	width: 1.32rem;
	font-size: 0.32rem;
	color: white;
	padding-top: 0.2rem;
	margin-bottom: 0.2rem;
}

.footer-support {
	width: 100%;
	font-size: 0.24rem;
	color: white;
}

.footer-support-middle {
	width: 92%;
	margin: 0 auto;
	display: table;
}

.footer-support-middle span{
	text-align: center;
	display: block;
	line-height: 0.4rem;
}

.footer .footer-support-middle span:nth-child(2){
	line-height: 0.8rem;
}





/*师资概况*/

.title-banner{
	width: 100%;
	height: 2.16rem;
	background: url(../img/title-banner-bg01_02.png) no-repeat center;
	display: table;
}

.title-banner .title-banner-text{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.title-banner-text01{
	font-size: 0.3rem;
	font-family: 方正兰亭超细黑简体;
	color: white;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.title-banner-text02{
	font-size: 0.24rem;
	font-weight: bold;
	color: white;
}



/*师资概况内容*/

.content{
	background-color: rgb(244,244,244);
}

.content-head{
	
	width: 100%;
	
}

.content-head-middle{
	margin: 0 auto;
	width: 92%;
	height: 0.6rem;
}

.tab-list{
	width: 100%;
	background-color: white;
}

.tab-list ul{
	overflow: hidden;
}

.tab-list ul li{
	float: left;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.66rem;
}

.tab-list-curriculum ul li{
	width: 25%;
}

.tab-list-teacher ul li{
	width: 50%;
}

.tab-list ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color: black;
	font-family: HiraginoSansGB;
}

.tab-list .tab-list-active{
	border-bottom: 0.04rem solid rgb(203,36,30);
	color: rgb(203,36,30);
}


.content-head-middle-right{
	float: left;
	font-size: 0.24rem;	
	height: 0.6rem;
	line-height: 0.6rem;
}

.content-head-middle-right  {
	overflow: hidden;
}

.content-head-middle-right  dd{
	float: left;
	
}

.content-head-middle-right  dd a{
	color: rgb(153,153,153);
}



.content-article-img{
	margin: 0 auto;
	width: 100%;
	height: 3.57rem;
	display: block;
}

.content-article-text{
	margin: 0 auto;	
	padding: 0.2rem;
}

.content-article-text p{
	text-indent: 0.6rem;
	font-size: 0.24rem;
	line-height: 0.5rem;
	margin-bottom: 0.3rem;
}

.content-article{
	width: 92%;
	margin: 0 auto;
}

.content-article-curriculum-basics li{
	overflow: hidden;
	background-color: white;
	padding: 0.2rem;
	
	margin-bottom: 0.2rem;
}



 .curriculum-title{
	float: left;
	font-size: 0.3rem;
	line-height: 0.5rem;
	font-weight: bold;
	padding-bottom: 0.2rem;
}

 .curriculum-content{
 	border-top: 0.01rem solid rgb(242,242,242);
	float: right;	
	margin-bottom: 0.2rem;
	font-size: 0.24rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}



.content-article .score-list{
	margin: 0 auto;
	font-size: 0.24rem;
	padding-bottom: 0.5rem;
	width: 100%;
}

.content-article .score-list caption{
	margin-bottom: 0.2rem;
	font-size: 0.24rem;
	font-weight: bold;
}

.content-article .score-list th{
	background-color: rgb(228,228,228);

	height: 0.4rem;
}

.content-article .score-list td{
	background-color: rgb(228,228,228);

	height: 0.4rem;
}

.content-article .score-list td{
	text-align: center;
}


.teacher-article{
	width: 100%;
}

.teacher-article .teacher-list li a{
	color: black;
	
}

.teacher-article .teacher-list li{
	
	width: 48.5%;
	height: 3.25rem;
	
	margin-bottom: 0.4rem;
	background-color: white;
}


.teacher-article .teacher-list{
	overflow: hidden;
	margin: 0 auto;
	width: 95%;
	display: flex;
	display: -webkit-flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.field-article .field-list{
	margin: 0 auto;
	width: 95%;
	display: flex;
	display: -webkit-flex;
	flex-wrap:wrap;
	justify-content:space-between;
	
}

.field-article .field-list>li{
	
	width: 48.6%;
	height: 4.38rem;
	
	margin-bottom: 0.2rem;
	background-color: white;
}

.field-article .field-list>li a{
	color: black;
}

.case-article{
	width: 100%;
}

.case-article .case-list{
	width: 95%;
	margin: 0 auto;
	display: flex;
	display: -webkit-flex;
	flex-wrap:wrap;
	justify-content:space-between;
	
}

.case-article .case-list>li{
	
	width: 48.6%;
	height: 4.38rem;
	
	margin-bottom: 0.2rem;
	background-color: white;
}

.case-article .case-list>li a{
	color: black;
}




.content-article-about-up{
	width: 100%;
	overflow: hidden;
	background-color: white;
}




.about-up-content{
	width: 100%;	
	float: right;
	
}

.content-article-about-down{
	width: 100%;
	padding: 0.4rem 0;
	
}

.about-up-content-title{
	margin: 0.2rem 0.4rem;
	font-size: 0.3rem;
	color: #cb241e;
}

.about-up-content-p{
	margin: 0.2rem 0.4rem;
	font-size: 0.24rem;
	line-height: 0.4rem;
	text-indent: 0.4rem;
}

.content-article-about-down ul{
	width: 90%;
	margin: 0 auto;
	display: flex;
	display: -webkit-flex;
	flex-wrap:wrap;
	justify-content:space-between;
	
}

.content-article-about-down ul li{
	
	width: 46.1%;
	height: 3.45rem;
	margin-bottom: 0.4rem;	
	background-color: white;
}

.about-down-l01{
	background: url(../img/about-down-01.png) no-repeat center;
	background-position-y: 30%;
	background-size: 30%;
}

.about-down-l02{
	background: url(../img/about-down-02.png) no-repeat center;
	background-position-y: 30%;
		background-size: 30%;
}

.about-down-l03{
	background: url(../img/about-down-03.png) no-repeat center;
	background-position-y: 30%;
		background-size: 30%;
}

.about-down-l04{
	background: url(../img/about-down-04.png) no-repeat center;
	background-position-y: 30%;
		background-size: 30%;
}

.about-down-title{
	text-align: center;
	font-size: 0.3rem;
	margin-top: 1.8rem;
	font-weight: bold;
}

.about-down-introduce{
	text-align: center;
	font-size: 0.26rem;
	color:#999;
	margin-top: 0.2rem;
}

.service-bg01{
	width: 100%;
	background: url(../img/service-bg01.png) no-repeat center;
	background-size: 100% 100%;
	overflow: hidden;
}

 .service-content{
	background-color:white ;
}

.service-content-head{
	background-color: rgb(244,244,244);
}

.service-bg01 ul {
	width: 100%;
	height: 9.77rem;
	overflow: hidden;
	position: relative;
}

.service-bg01 ul li{
	width: 43%;
	position: absolute;
	margin-left: 50%;
}

.service-li01{
	top: 0.2rem;
	left: -40%;
}

.service-li02{
	top: 1.8rem;
}

.service-li03{
	top: 3.4rem;
	left: -40%;
}

.service-li04{
	top: 5rem;
}

.service-li05{
	top: 6.6rem;
	left: -40%;
}

.service-li06{
	top: 8.2rem;
}

.service-bg01-title{
	font-size: 0.24rem;
	color: #cb241e;
	font-weight: bold;
}

.service-bg01-content{
	font-size: 0.24rem;
	
}

 .field-photo{
	width: 100%;
	height: 2.3rem;	
	display: block;
	
}

.field-name{
	font-size: 0.26rem;
	font-weight: bold;
	text-indent: 0.2rem;
	line-height: 0.5rem;
}

.field-article{
	width: 100%;
}

.field-article .field-list ul{
	padding-left: 0.8rem;
}

.field-article .field-list ul li{
	font-size: 0.24rem;
	text-indent: -0.6rem;
	line-height: 0.3rem;
	margin-bottom: 0;
}



 .case-photo{
	width: 100%;
	height: 2.3rem;	
	display: block;
	margin-bottom:0.2rem;	
}

.case-list .case-name{
	font-size: 0.3rem;
	font-weight: bold;
	text-indent: 0.2rem;
	line-height: 0.3rem;
	padding-bottom: 0.2rem;
}


.case-article .case-list li ul li{

	font-size: 0.26rem;
	text-indent: 0.2rem;
	line-height: 0.4rem;
	margin-bottom: 0;
}

.content-article-banner{
	width: 100%;
	height: 1.78rem;
	background-color: white;
	overflow: hidden;
}

.content-article-test{
	width: 100%;
	
	margin-top: 0.1rem;
	margin-bottom:0.1rem;
	background-color:rgb(244,244,244);
	
}

.case-title{
	font-size: 0.24rem;
	font-weight: bold;
	line-height: 0.6rem;
}

.content-article-banner-img{
	width: 38%;
	height: 1.78rem;
	display: block;
	float: left;
	
}

.content-article-banner-details{
	padding-top: 0.2rem;
	padding-left: 42%;
	font-size: 0.24rem;
}

.content-article-banner-details ul{
	margin-top: 0.3rem;
	margin-left: 0.2rem;
}

.content-article-banner-details ul li{
	line-height: 0.3rem;
}

.content-article-banner-details .case-banner01{
	font-weight: bold;
	font-size: 0.26rem;
}

.content-article-test table {
	margin: 0 auto;
	width: 100%;
	
}

.content-article-test table th {
	background-color: rgb(245, 214, 210);
	font-size: 0.24rem;
	color: #cb241e;
	
	line-height: 0.8rem;
	
}

.content-article-test table td {
	text-align: center;
	background-color: rgb(238, 238, 238);
	font-size: 0.24rem;
	
	line-height: 0.8rem;
	
}

.space01{
	width: 100%;
	height: 3.5rem;
}


 .teacher-photo{
	width: 1.6rem;
	height: 1.6rem;
	/*border: 1px solid rgb(203,36,30);*/
	border-radius: 50%;
	
	display: block;
	margin: 0.3rem auto;
}



.teacher-name{
	text-align: center;
	font-size: 0.26rem;
	font-weight: bold;
	line-height: 0.4rem;
}

.teacher-job{
	text-align: center;
	font-size: 0.24rem;
}

.teacher-introduce{
	margin-top: 0.2rem;
	padding: 0.2rem;
	font-size: 0.24rem;
	text-indent: 0.48rem;
	height: 4rem;
	color: #666666;
	overflow: scroll;
}



/*分页*/

/*CSS Digg style pagination*/

DIV.meneame {
	PADDING-RIGHT: 0.03rem;
	PADDING-LEFT: 0.03rem;
	FONT-SIZE: 0.24rem;
	PADDING-BOTTOM: 0.03rem;
	MARGIN: 0.03rem;
	COLOR: black;
	PADDING-TOP: 0.03rem;
	TEXT-ALIGN: center;
	padding-bottom: 0.2rem;
}

DIV.meneame A {
	/*BORDER-RIGHT: #ff9600 1px solid;*/
	PADDING-RIGHT: 0.2rem;
	BACKGROUND-POSITION: 50% bottom;
	/*BORDER-TOP: #ff9600 1px solid;*/
	PADDING-LEFT: 0.2rem;
	
	PADDING-BOTTOM: 0.05rem;
	/*BORDER-LEFT: #ff9600 1px solid;*/
	COLOR: black;
	MARGIN-RIGHT: 0.03rem;
	PADDING-TOP: 0.05rem;
	/*BORDER-BOTTOM: #ff9600 1px solid;*/
	TEXT-DECORATION: none;
	border: 1px solid rgb(221,221,221);
}



DIV.meneame A:active {
	BORDER-RIGHT: rgb(203,36,30) 0.01rem solid;
	BORDER-TOP: rgb(203,36,30) 0.01rem solid;
	BACKGROUND-IMAGE: none;
	BORDER-LEFT: rgb(203,36,30) 0.01rem solid;
	COLOR: white;
	BORDER-BOTTOM: rgb(203,36,30) 0.01rem solid;
	BACKGROUND-COLOR: rgb(203,36,30);
	
}

DIV.meneame SPAN.current {
	BORDER-RIGHT: rgb(203,36,30) 0.01rem solid;
	PADDING-RIGHT: 0.2rem;
	BORDER-TOP: rgb(203,36,30) 0.01rem solid;
	PADDING-LEFT: 0.2rem;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 0.05rem;
	BORDER-LEFT: rgb(203,36,30) 0.01rem solid;
	COLOR: white;
	MARGIN-RIGHT: 0.03rem;
	PADDING-TOP: 0.05rem;
	BORDER-BOTTOM: rgb(203,36,30) 0.01rem solid;
	BACKGROUND-COLOR: rgb(203,36,30);
}

DIV.meneame SPAN.disabled {
	/*BORDER-RIGHT: darkgrey 1px solid;*/
	PADDING-RIGHT: 0.07rem;
	/*BORDER-TOP: darkgrey 1px solid;*/
	PADDING-LEFT: 0.07rem;
	PADDING-BOTTOM: 0.05rem;
	/*BORDER-LEFT: darkgray 1px solid;*/
	COLOR: white;
	MARGIN-RIGHT: 0.05rem;
	PADDING-TOP: 0.05rem;
	background-color: rgb(204,204,204);
	/*BORDER-BOTTOM: darkgray 1px solid*/
}


/*弹出层样式*/

.reveal-modal-bg {
				position: fixed;
				height: 100%;
				width: 100%;
				z-index: 100;
				display: none;
				top: 0;
				left: 0;
				background: rgba(00, 00, 00, 0.8);
				overflow-y:visible
			}
.reveal-modal {
				display: none;
				top: 3.4rem;
				left: 18%;				
				width: 64%;
				position: fixed;
				z-index: 101;
				padding: 0.3rem 0.4rem 0.34rem;				
				border-radius: 0.05rem;
				-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
				-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
				-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
				background-color: #FFF;
				 box-sizing: border-box;
}
			
.reveal-modal.small {
				width: 2rem;
				margin-left: -1.4rem;
}
			
.reveal-modal.medium {
				width: 4rem;
				margin-left: -2.4rem;
}
			
.reveal-modal.large {
				width: 6rem;
				margin-left: -3.4rem;
}
			
.reveal-modal.xlarge {
				width: 8rem;
				margin-left: -4.4rem;
}
			
.reveal-modal .close-reveal-modal {
				font-size: 0.5rem;
				line-height: 0.5rem;
				position: absolute;
				top: 0.08rem;
				right: 0.11rem;
				color: #333;
				text-shadow: 0 -0.01rem 0.01rem rbga(0, 0, 0, .6);
				font-weight: bold;
				cursor: pointer;
}
			
.reveal-modal .teacher-photo{
			margin: 0 auto;
			margin-bottom: 0.2rem;
}


		
		



/*侧边栏*/
		
		
		
.sidenav {
	margin-top: 0.9rem;
	background: rgb(203,36,30);
	box-shadow: 0.02rem 0.02rem 0.06rem rgba(0, 0, 0, .3);
	display: block;
	font-weight: 400;
	height: 100%;
	right: 0;
	position: fixed;
	overflow: auto;
	transform: translate(101%, 0);
	transition: transform .3s;
	top: 0;
	width: 50%;
	z-index: 100
}

.sidenav.show {
	transform: translate(0, 0)
}

.sidenav-brand {
	background: #FF5722;
	border-bottom: 0.01rem solid #FF7043;
	color: #FAFAFA;
	font-size: 0.24rem;
	font-weight: 700;
	line-height: 0.32rem;
	padding: 0.2rem 0.24rem 0.19rem;
}

.sidenav-dropdown,
.sidenav-header {
	border-bottom: 0.01rem solid #424242;
	margin: 0
}

.sidenav-header {
	background: 0 0;
	color: #757575;
	font-size: 0.192rem;
	line-height: 0.32rem;
	padding: 0.16rem 0.24rem 0.15rem;
}

.sidenav-header small {
	display: block;
	font-size: 0.144rem;
	line-height: 0.16rem;
}

.sidenav-menu {
	list-style: none;
	margin: 0;
	padding: 0
}

.sidenav-menu li {
	display: block;
	position: relative;
	border-bottom:1px solid white ;
}

.sidenav-menu a {
	background: 0 0;
	color: white;
	display: block;
	line-height: 0.94rem;
	text-indent: 0.6rem;
	text-decoration: none
}



.sidenav-menu a.active,
.sidenav-menu a.active .sidenav-dropdown-icon,
.sidenav-menu a.active .sidenav-link-icon {
	color: #FAFAFA
}



.sidenav-link-title {
	display: block;
	padding: 0 0.16rem 0 0.4rem;
	font-size: 0.34rem;
}

.sidenav-dropdown {
	display: none;
	list-style: none;
	padding: 0
}

.sidenav-dropdown li{
	background-color: white
}

.sidenav-dropdown a {
	/*background: #191919;*/
	padding-left: 19%;
	font-size: 0.3rem;
	color: black;
}



.sidenav-dropdown li:first-child a {
	box-shadow: inset 0 0.01rem 0.01rem rgba(0, 0, 0, .1)
}



.sidenav-overlay {
	background: rgba(0, 0, 0, .6);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	margin-top: 0.9rem;
}

.sidenav-no-scroll {
	overflow: hidden!important
}	
